:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --hover-color: #c91ae0;
  --button-color: #2196f3;
  --praymary-white-color: #ffffff;
  --secondary-gray-color: #2f303a;
  --text-white-color: #ffffff;
  --bg-color: #e5e5e5;
  --textarea-color: #757575;
  --test-color: #ccec12;
  --filter-color-text: #f5f4fa;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 400;
  width: 1600px;
  max-width: 960px;
}
/*.content {
  max-width: 960px;
  margin: auto;
}*/
a {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.logo a:hover,
.logo a:focus {
  color: var(--button-color);
}
.nav a {
  color: var(--title-text-color);
}
.nav a:hover,
.nav a:focus {
  color: var(--button-color);
}

.nav {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.nav .logo {
  font-family: Raleway;
  position: absolute;
  color: var(--title-text-color);
  width: 145px;
  left: 215px;
  top: 24px;

  font-size: 26px;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;
  justify-content: space-between;
}
.nav-in {
  position: absolute;
  width: 49px;
  left: 453px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.nav-port {
  position: absolute;
  width: 77px;
  left: 552px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.nav-cont {
  position: absolute;
  width: 68px;
  left: 679px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.mail {
  position: absolute;
  width: 135px;
  left: 1078px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.tel {
  position: absolute;
  width: 200px;
  left: 1263px;
  top: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.auth-nav a:hover {
  color: var(--button-color);
}
.auth-nav a:focus {
  color: var(--button-color);
}
/*------------hero-------------*/
.hero {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--secondary-gray-color);
}
.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: var(--text-white-color);
}
.hero > button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  cursor: pointer;

  font-weight: 700;
  line-height: 1;
  background: var(--button-color);
  color: var(--praymary-white-color);
}

/*----------НАШИ ПРЕИМУЩЕСТВА---------*/
.advantages {
  padding-top: 600px;
}
.selection {
  display: none;
}
.advantages-items {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-item-text {
  width: 270px;
  color: var(--textarea-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.container {
  text-align: center;
}
/*-------ЧЕМ ЗАНИМАЕМСЯ-------------*/
.our-work {
  padding-top: 104px;
}
.caption {
  font-weight: 700;
  line-height: 2.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.caption-item {
  display: flex;
  justify-content: space-between;
}
.image {
  display: flex;
  width: 370px;
  height: 294px;
}
/*-------КОМАНДА-------------*/
.team {
  padding-top: 94px;
}
.team-caption {
  font-weight: 700;
  line-height: 2.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-item {
  display: flex;
  justify-content: space-between;
}
.caption-team {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
}
.caption-team-text {
  color: var(--textarea-color);
  font-weight: 400;
  line-height: 1.12;
}

.images {
  height: 260px;
  width: 270px;
}

/*------------PORTFOLIO-------------*/
.filter {
  display: flex;
  justify-content: space-between;
}
.buttons:hover:focus {
  color: var(--test-color); /*з цим ще толком не розібрався*/
}

.buttons {
  font-weight: 500;
  line-height: 1.6;
  background: var(--filter-color-text);
  color: var(--title-text-color);
  cursor: pointer;
}
/*.carditem {
  padding-top: 174px;
  /* width: 1360px;
  height: 1170px;
}
*/
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  justify-content: space-between;
}
.card-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.card-items {
  color: var(--textarea-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
}

.card-img {
  display: flex;
  width: 370px;
  height: 294px;
}

/*-------------FOOTER--------------*/
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  background: var(--secondary-gray-color);
}
.footer li {
  color: var(--text-white-color);
}
.footer a {
  color: var(--footer-text-color);
}
.footer a:hover {
  color: var(--accent-color);
}
.footer :focus {
  color: var(--accent-color);
}
