:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --hover-color: #c91ae0;
  --button-color: #2196f3;
  --praymary-white-color: #ffffff;
  --secondary-gray-color: #2f303a;
  --text-white-color: #ffffff;
  --bg-color: #ffffff;
  --textarea-color: #757575;
  --test-color: #ccec12;
  --filter-color-text: #f5f4fa;
  --Web-span-text: #2196f3;
  --title-hover: #188ce8;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 400;
  max-width: 1600px;
  /*max-width: 960px;*/
}
/*.content {
  max-width: 960px;
  margin: auto;
}*/
a {
  cursor: pointer;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.span-web {
  color: var(--Web-span-text);
}
.logo a:hover,
.logo a:focus {
  color: var(--button-color);
}
.nav a {
  color: var(--title-text-color);
}
.nav a:hover,
.nav a:focus {
  color: var(--button-color);
}
.site-nav {
  /*margin: 0 auto;*/
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  font-family: Raleway;
  position: absolute;
  color: var(--title-text-color);
  padding: 20px 25px;
  margin: 20px 20px;

  font-weight: 700;
  font-size: 26px;
  line-height: 0.6;
  letter-spacing: 0.03em;
}
/*.site-nav li {
}*/
.nav-link {
  /* max-width: 1600;*/
  margin: 0 auto;
  padding: 50px 220px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.mail {
  /*margin: 20px;*/
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--textarea-color);
}
.tel {
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--textarea-color);
}

.auth-nav a:hover {
  color: var(--button-color);
}
.auth-nav a:focus {
  color: var(--button-color);
}
/*------------hero-------------*/
.hero {
  /*display: flex;
  justify-content: space-between;*/
  background: var(--secondary-gray-color);
}
.hero-title {
  padding: 200px 0px;
  max-width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-white-color);
}
.hero > button {
  padding: 10px 32px;
  margin: 0 auto;
  cursor: pointer;

  font-weight: 700;
  line-height: 1;
  background: var(--button-color);
  color: var(--praymary-white-color);
}
.hero > button:hover,
.buttons:focus {
  color: #188ce8;
}

/*----------НАШИ ПРЕИМУЩЕСТВА---------*/
.advantages {
  padding-top: 50px;
}
.selection {
  display: none;
}
.advantages-items {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.advantages-item .advantages-item {
  text-transform: uppercase;
}
.advantages-item-text {
  max-width: 270px;
  color: var(--textarea-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.container {
  text-align: left;
}
/*-------ЧЕМ ЗАНИМАЕМСЯ-------------*/
.our-work {
  padding-top: 10px;
}
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.caption-item {
  display: flex;
  justify-content: space-between;
}
.image {
  display: flex;
  width: 370px;
  height: 294px;
}
/*-------КОМАНДА-------------*/
.team {
  /* padding-top: 94px;*/
}
.team-caption {
  text-align: center;
  padding: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
}
.team-item {
  display: flex;
  justify-content: space-between;
}
.caption-team {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
}
.caption-team-text {
  color: var(--textarea-color);
  font-weight: 400;
  line-height: 1.12;
}

.images {
  height: 260px;
  width: 270px;
}

/*------------PORTFOLIO-------------*/
.filter {
  display: flex;
  justify-content: space-between;
}
.buttons:hover,
.buttons:focus {
  color: var(--test-color);
}

.buttons {
  font-weight: 500;
  line-height: 1.6;
  background: var(--filter-color-text);
  color: var(--title-text-color);
  cursor: pointer;
}
/*.carditem {
  padding-top: 174px;
  /* width: 1360px;
  height: 1170px;
}
*/
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  justify-content: space-between;
}
.card-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.card-items {
  color: var(--textarea-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
}

.card-img {
  display: flex;
  width: 370px;
  height: 294px;
}

/*-------------FOOTER--------------*/
.footer {
  /*position: absolute;*/
  max-width: 1600px;
  /* height: 252px;
  left: 0px;*/
  background: var(--secondary-gray-color);
}
.footer .logo {
  color: var(--text-white-color);
}
.footer li {
  color: var(--text-white-color);
}
.footer a {
  color: var(--footer-text-color);
}
.footer a:hover {
  color: var(--accent-color);
}
.footer :focus {
  color: var(--accent-color);
}
/*class="foot-mail"*/
/*class="foot-tel" 
<span class="span-studio-footer"></span>*/
